<template>
  <div id="historic">
    <table class="table">
      <tbody>
        <tr>
          <th class="header-cols"><h1>Todos Historic</h1></th>
          <td class="header-cols  home-buton">
            <router-link to="/">
              <button class="btn btn-primary form-buton">Home</button>
            </router-link>
          </td>
          <td class="header-cols">
            <div class="logo">
              <img class="logo-image" alt="Vue logo" src="../../assets/logo.png">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ListHistoric/>
  </div>
</template>

<script type="text/javascript" src="./historic.js"></script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.logo{
    text-align: right;
}

.logo-image{
  width: 40px;
  height: 40px;
}

.table{
    margin: auto;
}
.header-cols{
  width: 33%;
}
.home-buton{
  text-align: center;
}
</style>
