<template>
  <div id="container" class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="info-form">
          <div v-if="errors.length > 0">
            <div v-for="error of errors" v-bind:key="error" class="alert alert-warning" >
              <strong >{{error}}</strong>
            </div>
          </div>
          
          <form>
            <div class="form-group">
              <label for="name">Todo name</label>
              <input
                v-model="todo.name"
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter Name"
              />
            </div>
            <div class="form-group">
              <label for="date">Todo description: </label>
              <input
                v-model="todo.description"
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter Description"
              />
            </div>
            <div class="form-group">
              <label for="date">Todo created at: *</label>
              <input
                v-model="todo.createdAt"
                type="date"
                class="form-control"
                id="name"
                placeholder="Enter Date"
              />
            </div>
          </form>
          <div>
            <div class="form-buton-col">
              <button class="btn btn-primary form-buton" @click="createTodo()"><span>Create</span></button>
              <button class="btn btn-primary form-buton" @click="newTodo()">New...</button>
            </div>
            <div class="form-buton-col form-col-historic">
              <router-link to="/todo-historic/">
                <button class="btn btn-primary form-buton">Historic</button>
              </router-link>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript" src="./CreateTodo.js"></script>

<style scoped>
.aform {
  margin-left: auto;
  width: 60%;
}
.form-buton-col{
    width: 50%;
    display: inline-block;
}
.form-buton{
    margin: 0px 10px;
}
.form-col-historic{
  text-align: end;
}
container{
  margin-left: auto;
  width: 60%;
}
</style>
