<template>
  <div class="table-borders table-bordered">
    <b-table striped hover :items="todoList.todoList" :fields="fields" responsive="sm">
      <!-- VER/EDITAR NAME for todo -->
      <template v-slot:cell(name)="data">
        <input
          v-if="data.item.editing"
          v-model="data.item.name"
          type="text"
          class="form-control"
          id="name"
          aria-describedby="nameHelp"
          placeholder="Enter Name"
        />
        <b v-if="!data.item.editing">{{data.item.name}}</b>
      </template>
      <!-- VER/EDITAR DESCRIPTION for todo -->
      <template v-slot:cell(description)="data">
        <input
          v-if="data.item.editing"
          v-model="data.item.description"
          type="text"
          class="form-control"
          id="name"
          aria-describedby="nameHelp"
          placeholder="Enter Name"
        />
        <b v-if="!data.item.editing">{{data.item.description}}</b>
      </template>
      <!--<template v-slot:cell(name)="data" v-if="!data.item.editing">
          {{data.item.name}}
      </template>-->
      <!--BOTONES DE ACCION -->
      <template v-slot:cell(actions)="data" class="action-col-centered">
        <button
          v-if="!data.item.editing"
          class="btn btn-danger action-buton"
          @click="deleteTodo(data.item)"
        >X</button>
        <button
          v-if="!data.item.editing"
          class="btn btn-danger action-buton"
          @click="selectTodo(data.index)"
        >&#9998;</button>

        <button
          v-if="data.item.editing"
          class="btn btn-danger action-buton"
          @click="selectTodo(data.index)"
        >CANCEL</button>
        <button
          v-if="data.item.editing"
          class="btn btn-danger action-buton"
          @click="updateTodo(data.item)"
        >OK</button>
      </template>
    </b-table>
    <b-row>
      <b-col>
        <b-pagination
          v-model="todoList.actualPage"
          :total-rows="todoList.numberOfTodos"
          :per-page="10"
          align="center"
          size="lg"
          class="my-0"
          v-on:change="paginatorChange"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import { apiService } from "../../store/apiServie.js";

export default {
  name: "ListTodo",

  components: {},
  data() {
    return {
      fields: [
        {
          key: "_id",
          class: "id-col"
        },
        {
          key: "name",
          class: "name-col"
        },
        {
          key: "description"
        },
        {
          key: "createdAt",
          class: "created-col",
          formatter: value => {
            if (value != undefined) {
              return (
                value.getFullYear() +
                "-" +
                (value.getMonth() + 1) +
                "-" +
                (value.getDate() + 1)
              );
              //return value.toLocaleDateString('es-MX');
            } else {
              return "";
            }
          }
        },
        {
          key: "actions",
          class: "actions-col"
        }
      ],
      todoList: apiService.state,
      pageOfItems: []
    };
  },
  methods: {
    getTodos() {
      apiService.state.actualPage = 1;
      apiService.getTodosByPage();
    },
    deleteTodo(todo) {
      apiService.deleteTodo(todo);
    },
    updateTodo(todo) {
      apiService.updateTodo(todo);
    },
    selectTodo(index) {
      apiService.enableEdit(index);
    },
    paginatorChange(page) {
      if (page != this.todoList.actualPage) {
        this.todoList.actualPage = page;
        apiService.getTodosByPage();
      }
    }
  },

  mounted() {
    this.getTodos();
  }
};
</script>

<style src="./ListTodo.css" scoped></style>