.list-horizontal li {
    display: inline-block;
  }
  
  .list-horizontal li:before {
    content: "\00a0\2022\00a0\00a0";
  
    color: #999;
  
    color: rgba(0, 0, 0, 0.5);
  
    font-size: 11px;
  }
  
  .list-horizontal li:first-child:before {
    content: "";
  }
  
  button.page-link {
      display: inline-block;
  }
  button.page-link {
      font-size: 20px;
      color: #29b3ed;
      font-weight: 500;
  }
  .offset{
    width: 500px !important;
    margin: 20px auto;  
  }
  .action-buton{
    width: 48%;
    margin: 0px 1px;
  }
  .action-col-centered{
      text-align: center;
  }
  .table-borders{
      margin: 10px 10%;
  }
  .actions-col{
    width: 20%;
  }
  .name-col{
    width: 20%;
  }
  .id-col{
    width: 6%;
  }
  .created-col{
    width: 10%;
  }