<template>
  <div class="table-borders table-bordered">
    <b-table striped hover :items="todoListHistoric.todoList" :fields="fields" responsive="sm">
      <template v-slot:cell(type)="data" >
        <div v-if="data.item.type == 0">Add</div>
        <div v-if="data.item.type == 1">Edited</div>
        <div v-if="data.item.type == 2">Deleted</div>
      </template>  
    </b-table> 
    <b-row>
      <b-col>
        <b-pagination
          v-model="todoListHistoric.actualPage"
          :total-rows="todoListHistoric.numberOfTodos"
          :per-page="10"
          align="center"
          size="lg"
          class="my-0"
          v-on:change = "paginatorChange"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import { apiService } from "../../store/apiServie.js";

export default {
  name: "ListTodo",

  components: {},

  data() {
    return {
      fields : [{
          key : '_id',
          class : 'id-col'
        },{
          key : 'description',
          class : 'name-col'
        },{
          key : 'type'
        },{
          key : 'createdAt',
          class : 'created-col',
          formatter: (value) => {
            if(value != undefined){
              return value.toLocaleDateString("en-US");
            }else{
              return '';
            }
          }
      }],
      todoListHistoric : apiService.state
    };
  },
  methods: {
    getTodos() {
      apiService.state.actualPage = 1;
      apiService.getTodosHistoricByPage(1,20);
    },
    paginatorChange(page) {
      if(page != this.todoListHistoric.actualPage){
        this.todoListHistoric.actualPage = page;
        apiService.getTodosHistoricByPage(page,20);
      }
    }
  },

  mounted() {
    this.getTodos();
  }
};
</script>

<style src="./ListHistoric.css" scoped></style>