<template>
  <div id="index">
    <table class="table">
      <tbody>
        <tr>
          <th><h1>Create a Todo</h1></th>
          <td>
            <div class="logo">
              <img class="logo-image" alt="Vue logo" src="../../assets/logo.png">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <CreateTodo/>
    <ListTodo/>
  </div>
</template>

<script type="text/javascript" src="./index.js"></script>

<style>
.logo{
    text-align: right;
}

.logo-image{
  width: 40px;
  height: 40px;
}

.table{
    margin: auto;
}
</style>
